* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: black;
}

.app {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  align-self: stretch;
}

.header h1 {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 4rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.drpdwn-text {
  color: #070707;
  text-align: left;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 9px 22px;
  font-size: 22px;
  height: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: normal;
  background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
  border-radius: 50px;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 10px;
}

.btn:first-child {
  margin-top: 0;
}

.btn:hover {
  box-shadow: 0 0 0 0.15rem #5ceace;
}

.smlbtn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(
    92.88deg,
    rgb(69, 94, 181) 9.16%,
    rgb(86, 67, 204) 43.89%,
    rgb(103, 63, 215) 64.72%
  );
  transition: all 0.5s ease 0s;
}

.smlbtn:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 auto;
}

.input-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-button-container input {
  flex-grow: 1;
  margin-right: 10px;
}

.pizza-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  width: 90%;
}

.pizza-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  border: none;
  background: transparent;
  cursor: pointer;
}

.toppings-list {
  padding-left: 20px;
  margin-top: 0;
}

.pizzas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
